/* Importing Google font - Open Sans */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background-color: #FF13F0 
    
  }
  
  .main-section {
    width: 1000px;
    background-color: white;
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 60px 40px;
    border-radius: 10px;
  }
  
  .spaceman-box img {
    max-width: 270px;
  }
  
  .game-box .word-display {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2rem;
    font-size: 7rem;
    margin-bottom: 2rem;
  }
 
  
  
  .game-box h4 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 17px;
  }
  
  .game-box #keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  :where(.game-result, #keyboard) button {
    color: white;
    background-color: #0bea37;
    font-size: 1rem;
    font-weight: 650;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
  }
  
  #keyboard button {
    padding: 7px;
    
    flex-wrap: wrap;
    width: 70px;
  }
  
  #keyboard button:hover {
    background-color: #97B1A6;
  }
  
  #keyboard button[disabled] {
    pointer-events: none;
    opacity: 0;
  }
  
  .game-result {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game-result .content {
    background-color: rgb(246, 238, 238);
    max-width: 420px;
    width: 400px;
    height: 180px;
    max-height: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }
  
  .game-result h4 {
    font-size: 1.60rem;
  }
  
  .game-result p {
    font-size: 1.15rem;
    margin: 30px 0;
    font-weight: 500;
  }
  
  .game-result p b {
    color: #407076;
    font-weight: 600;
  }
  .hidden {
    display: none;
    }